* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --accent: #b61233;
    --text-dark: #121212;
    --text-light: #ffffff; 
    --tab-background: #fbafbe;
    --menu-background: #e5ddf3;
}

body {   
    color: var(--text-dark);
    font-family: Arial, sans-serif;
    font-size: 1.25rem;
    height: 100vh;
    text-align: center;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7%;
}

#bigheader {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    margin-bottom: 5rem;
}

.tomato {
    margin-bottom: 1rem;
}

h1 {
    color: var(--text-dark);
    font-size: 3.5rem;
    margin: 0 1rem;
}

/* Select timer type */
.select-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-timer {
    display: flex;
    align-items: end;
    justify-content: center;
}

.type {
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--tab-background);
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 3px
}

.highlight {
    background-color: var(--accent); 
    color: white;
}

#tab {
    border: 3.5px solid var(--accent);
    border-radius: 2px;
    margin-top: 0px;
    width: 100%;
    min-width: 300px;
    max-width: 700px;
}


/* Clock */
#time-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock, .colon {
    color: black;
    font-size: 10rem;
    font-weight: bold;
}

.clock { 
    border-radius: 4px;
    padding: 10px;
}

.button-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.start-btn {
    background-color: var(--accent);
    border-radius: 30px;
    border-style: none;
    color: white;
    font-size: 1.75rem;
    margin: 0 15px;
    padding: 10px 15px;
}

.gear-container {
    display: flex;
}
.gear-fill {
    filter:  brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(175deg) brightness(105%) contrast(103%);
    height: 1.75rem;
}


/* Settings Menu */
#settings {
    background-color: var(--menu-background);
    /* border: var(--accent) ridge 5px; */
    box-shadow: var(--accent) 5px 5px 5px;
    border-radius: 30px;
    margin-top: 80px;
    padding: 40px;
    max-width: 750px;
    font-size: 1.45rem;
}

.hidden {
    display: none;
}

#settings-form {
    display: flex;
    align-items: end;
    justify-content: center;
}

.settings-input {
    margin: 10px 20px;
    text-align: left;
}

.settings-input > label {
    font-weight: 600;
}

input {
    border: none;
    border-radius: 10px;
    font-family: inherit;
    font-size: 100%;
    margin-top: 10px;
    max-width: 100px;
    padding: 5px;
}

.settings-btns {
    margin-top: 10px;
    
}

.menu-btn {
    font-size: 1.3rem;    
}

.settings-hr {
    border: none;
    border-top: 3px solid var(--accent);
    color: var(--accent);
    margin: 50px auto;
    overflow: visible;
    text-align: center;
}

/* Instructions */
.how-title {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.instructions {
    margin: auto;
    width: 75%;
}

ul {
    padding-left: 20px;
}

li {
    line-height: 1.75rem;
    margin-bottom: 1.25rem;
    text-align: left;
    text-decoration: none;
}


/* Media queries */
@media (max-width: 850px) {
    #bigheader, h1 {
        font-size: 3.25rem;
    }

    .bigbox {
        margin-bottom: 4rem;
    } 

    .type {
        font-size: 1.5rem;
        padding: 10px 15px;
    }

    #settings {
        font-size: 1.35rem;
    }

    .how-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .details {
        font-size: 1.35rem;
    }
}

@media (max-width: 550px) {
    #bigheader, h1 {
        font-size: 3rem;
    }

    .bigbox {  
        margin-bottom: 3rem;
    }
    
    .type {
        font-size: 1.4rem;
        padding: 10px 10px;
    }

    .clock, .colon {
        font-size: 8.5rem;
    }

    .start-btn {
        font-size: 1.5rem;
        margin: 0 12px;
    }

    #settings, .menu-btn {
        font-size: 1.25rem;
    }

    .how-title {
        font-size: 1.45rem;
        margin-bottom: 0.75rem;
    }

    .details {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
}