body {
    font-family: Arial, sans-serif;
    font-size: 1.25rem;
    padding: 5rem 8rem;
    text-align: center;
}

.bigheader {
    color: rgb(179, 117, 238);
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 5rem;
}

.select-box {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
}

.type {
    border-style: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 6px 20px;
}

.highlight {
    background-color: rgb(179, 117, 238); 
    color: white;
}

#tab {
    border: 3px solid rgb(179, 117, 238);
    border-radius: 2px;
    margin-top: 0px;
    width: 80%;
}

#time-div {
    display: inline-block;
}

.clock, .colon {
    color: black;
    display: inline-block;
    font-size: 10rem;
    font-weight: bold;
}

.clock { 
    border-radius: 4px;
    padding: 10px;
}

.drop-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    justify-items: center;
    margin-top: 1rem;
    padding: 0 7%;
}

.button-container {
    margin-top: 1rem;
}

.start-btn {
    background-color: rgb(179, 117, 238);
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 1.75rem;
    margin: 0 15px;
    padding: 6px 10px;
}

.how-title {
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

#how {
    margin-top: 10rem;
}

.instructions {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75%;
}

li {
    font-size: 1.5rem;
    list-style: none;
    margin-bottom: 2rem;
}


/* Media queries */
@media screen and (min-width: 1028px) {
    .select-box {
        width: 40%;
    }

    #tab {
        width: 35%;
    }
}